body{
	background-color:#191970;
}

.head{
	background-color:#FFFFFF;
	border-radius:5px;
	margin:10px;
}

.logo{
	margin-top:10px;
	width:auto;
        height: 100%;
}

.login{
	float:right;
	margin:10px;
        background-color: #ADD8E6;
        border-radius:5px;
        border-style: solid;
        border-color: #1E90FF;
        border-width: 2px;
}

.in1{
	margin: 5px;
        padding: 5px;
        width:90%;
	height:100%;
        font-size:14pt;
}

.lbt{
        margin: 5px;
        padding: 5px;
        width:96%;
	height:100%;
        font-size:14pt;
        background-color: #609903;
        border-radius:5px;
        border-style: solid;
        border-color: #1E90FF;
        border-width: 2px;
        color: #FFFFFF;
}

.fp{
	font-size:15px;
	font-family:Arial;
        float: right;
        padding: 5px;
}

.nvg{
	background-color:#ADD8E6;
	border-radius:5px;
	margin:10px;
	height:20px;
	font-size:15pt;
	font-family:Arial;
	padding:10px 10px;
}

.nvg a{
	text-decoration:none;
	padding:0 20px;
	margin:10px;
        color: #021B9B;
}

.nvg a:hover{
	background-color:#FFFFFF;
	color:#191970;
	padding:10px 20px 8px 20px;
}

.frame1{
        background-color:#ADD8E6;
	border-radius:5px;
	margin:10px;
        width: 45%;
        height: 100%;
        float: left;
}

.tit{
        font-size:15pt;
	font-family:Arial;
	color: #021B9B;
        margin-left: 20px;
        float:left
}

.sel{
        width:95%;
        margin-left: 16px;
        border-radius:5px;
        padding: 10px;
        font-size:15pt;
}

.selo{
        color: #CCCCCC;
}

.seld{
        width:93%;
        margin-left: 16px;
        border-radius:5px;
        padding: 7px;
        font-size: 15pt;
        border-style: solid;
        border-color: #999999;
        border-width: 1px;
}

.srch{
        width:50%;
        margin: 20px 25%;
        border-radius:5px;
        border-style: solid;
        border-color: #999999;
        border-width: 1px;
        padding: 10px;
        font-size:15pt;
        color: #FFFFFF;
        background-color: #021B9B;
}

.frame2{
        float: right;
	border-radius:5px;
	margin:10px 10px 10px 0;
        width: 52%;
        height: 100%;
        font-family: Arial;
}

.signup{
        background-color:#ADD8E6;
	border-radius:5px;
	margin:0 10px 10px 0;
        width: 50%;
        height: 100%;
        float:left;
        text-align: center
}

.sel1{
        width:87%;
        margin: 0 10px;
        border-radius:5px;
        border-style: solid;
        border-color: #999999;
        border-width: 1px;
        padding: 10px;
        font-size:15pt;
}

.offer{
        background-color:#ADD8E6;
	border-radius:5px;
	margin:0 0 10px 0;
        width: 47%;
        height: auto;
        float:right;
        text-align: center
}

.hd{
        font-size: 20pt;
        color: #C7061B;
        text-decoration: underline;
}

.cont{
        font-size: 14pt;
        color: #609903;
}

@media only screen and (min-width:500px) and (max-width:1200px)
{
        .head{
                width:auto;
                height:100%;
        }

        .logo{
                width:100%;
                height: auto;
        }

        .login{
                float:none;
         }

        .fp{
                float:none;
        }

        .nvg{
                width:auto;
                height:auto;
        }

        .nvg a{
                padding:0 40%;
        }

        .nvg a:hover{
                padding:0 35% 0 40%;
        }

        .frame1{
                width: auto;
                height: 100%;
                float: left;
        }

        .frame2{
                float: none;
                margin:10px;
                width: auto;
        }

        .signup{
                width: 45%;
                float: left;
                margin: 0;
        }

        .offer{
                margin:0 0 10px 0;
                width: 45%;
                float:right;
        }
}

@media only screen and (min-width:150px) and (max-width:500px)
{
        .head{
                width:auto;
                height:100%;
        }

        .logo{
                width:100%;
                height: auto;
        }

        .login{
                float:none;
         }

        .fp{
                float:none;
        }

        .nvg{
                width:auto;
                height:auto;
        }

        .nvg a{
                padding:0 40%;
        }

        .nvg a:hover{
                padding:0 35% 0 40%;
        }

        .frame1{
                width: auto;
                height: 100%;
                float: none;
        }

        .frame2{
                float: none;
                margin:10px;
                width: auto;
        }

        .signup{
                width: auto;
                float: none;
                margin: 0;
        }

        .offer{
                margin:0 0 10px 0;
                width: auto;
                float:none;
        }
}